.outer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.inner1{
    flex: 1;
    align-content: center;
    align-items: center;
    align-self: center;
    alignment: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    text-align-all: center;
}

.inner2{
    flex-direction: row;
    flex: 1;
    align-content: center;
    align-items: center;
    align-self: center;
    alignment: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    text-align-all: center;
}

.inner3{
    flex: 1;
    align-content: center;
    align-items: center;
    align-self: center;
    alignment: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    text-align-all: center;
}

.inner4{
    flex: 1;
    align-content: center;
    align-items: center;
    align-self: center;
    alignment: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    text-align-all: center;
}

.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}


#img{
    border-radius: 4%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.slider{
    width: 100%;
    margin-bottom: 50px;
}
